.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 10;
    background-color: #FF9F66;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
  }
  
  .scroll-to-top-button.show {
    opacity: 1;
    visibility: visible;
  }
  